main {
  min-height: calc(100vh - 30px - 18px);
}

footer {
  height: 30px;
}

p.footer {
    text-align: center;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: rgba(138,150,196,0.58);
    width: auto;
    font-size: 10px;
}

a.footer {
    color: #00aeef;
}

.cntr {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
}

header {
    padding: 10px;
}