.photo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

.personphoto {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.clr {
    border-color: #54acde;
    color: #54acde;
}

.clr:hover {
    border-color: #54acde;
    background-color: #54acde;
    color: #ffffff;
}

.message {
    margin-bottom: 1%
}

#container {
    max-height: calc(100vh - 151px);
    overflow: auto;
    height: calc(100vh - 290px);
    margin-bottom: 10px;
}

.info {
    font-size: 75%;
    margin-bottom: 0;
    margin-top: 10px
}

#submit {
    width: auto
}

.input-group.d-flex {
    margin-bottom: 50px;
}