#make_test {
    margin-left: -1%;
    margin-top: 5%;
    background-color: lightskyblue;
    border-color: skyblue;
    color: black;
    width: 100%;
}

.test_main {
    width: 100%;
    border-color: red;
    border: 10px;
    padding: 10px;
}