#make_test {
    background-color: #54acde;
    border-color: skyblue;
    color: white;
    width: 99.1%;
}

#make_test:hover {
    background-color: #39a1db;
    color: #edf7fc;
}

td {
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
}