#make_test {
    background-color: #54acde;
    border-color: skyblue;
    color: white;
    width: 99.1%;
}

#make_test:hover {
    background-color: #39a1db;
    color: #edf7fc;
}

td {
    padding-right: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.rrrr {
    background: transparent;
    background-image: linear-gradient(#000000, 30%, transparent);
}

.rrrr:hover {
    background: transparent;
    background-image: linear-gradient(#000000, 70%, white);
}

.k-h6 {
    family-name: arial;
    font-weight: normal;
    font-size: 100%;
}

.k-h5 {
    family-name: arial;
    font-weight: normal;
    font-size: 180%;
}