caption {
    caption-side: top;
    text-align: center;
    font-size: 24px;
    color: skyblue;
}

td {
    text-align: center;
    border: 1px solid;
}

/*.info {*/
/*    width: 70%;*/
/*    border-color: black;*/
/*}*/