h1{ color:#000080; text-align: center}
.container { margin: 20px auto; position: relative;}
#content {
	background: #b0c4de;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 5px solid #87cefa;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
}
#content form input[type="submit"] {
	background: rgb(135,206,250);
	background: -moz-linear-gradient(top,  rgba(135,206,250,1) 0%, rgba(30,144,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(135,206,250,1) 0%,rgba(30,144,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(135,206,250,1) 0%,rgba(30,144,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(135,206,250,1) 0%,rgba(30,144,255,1) 100%);
	background: linear-gradient(top,  rgba(135,206,250,1) 0%,rgba(30,144,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90ff', endColorstr='#1e90ff',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #4682B4;
	color: #191970;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#content form input[type="submit"]:hover {
    background: rgb(135,206,250);
	background: -moz-linear-gradient(top,  rgba(30,144,255,1) 0%, rgba(135,206,250,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(30,144,255,1) 0%,rgba(135,206,250,1) 100%);
	background: -o-linear-gradient(top,  rgba(30,144,255,1) 0%,rgba(135,206,250,1) 100%);
	background: -ms-linear-gradient(top,  rgba(30,144,255,1) 0%,rgba(135,206,250,1) 100%);
	background: linear-gradient(top,  rgba(30,144,255,1) 0%,rgba(135,206,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e90ff', endColorstr='#1e90ff',GradientType=0 );
}
