{% extends "base.html" %}

{% block content %}
    <link href="/static/css/dialog.css" rel="stylesheet" type="text/css">
    <link href="/static/css/base.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <div>
        <div class="photo">
            <img src="data:image/jpeg;base64,{{ other_user.image.__str__()[2:-1] }}" alt="Фото профиля"
                 class="personphoto">
            <a id="user" href="{{ other_user.id }}"></a>
        </div>
        <h4 style="text-align: center">{{ other_user.name }} {{ other_user.surname }}</h4>
    </div>

    <div id="main">

        <div id="container">
            {% if messages %}
                {% for m in messages %}
                    {% if m.user_who_sent_message == other_user.id %}

                        <div style="color: blue" class="d-flex flex-row flex-fill">

                        <div class="photo msg" style="width: 60px; height: 60px; margin: 10px"><img
                                src="data:image/jpeg;base64,{{ other_user.image.__str__()[2:-1] }}"
                                alt="Фото профиля"
                                class="personphoto"></div>

                        <div class="d-flex flex-column flex-fill">
                        <p class="info">{{ other_user.name }} {{ other_user.surname }} {{ m.created_date.strftime("%G-%m-%d %X") }}</p>

                    {% else %}

                        <div style="color: gray" class="d-flex flex-row me">

                        <div class="photo msg" style="width: 60px; height: 60px; margin: 10px"><img
                                src="data:image/jpeg;base64,{{ user.image.__str__()[2:-1] }}"
                                alt="Фото профиля"
                                class="personphoto"></div>

                        <div class="d-flex flex-column flex-fill">
                        <p class="info">{{ user.name }} {{ user.surname }} {{ m.created_date.strftime("%G-%m-%d %X") }}</p>
                    {% endif %}
                <p class="text-break message">{{ m.text }}</p></div>
                </div>
                {% endfor %}
            {% else %}
                <p style="color: gray; text-align: center" id="n_msg">Нет сообщений</p>
            {% endif %}
            </div>

            <div class="input-group d-flex">
                <input name="message" id="message" type="text" required class="input-group-text flex-fill"
                       style="text-align: left">
                <button type="submit" class="btn colord-hover" name="submit" id="submit"
                        onclick="send_message()">Отправить
                </button>
            </div>
            </div>
            <script src="/static/js/dialog.js"></script>
{% endblock %}