{% extends "base.html" %}

{% block content %}
    <div class="flex p-4 m-6 justify-center">
        <h1>Авторизация</h1>
        <form action="" method="post">

            <div class="flex p-4 m-6 justify-center">
                <label for="username">
                    Логин или почта
                </label>
                <input id="username" name="username" type="text">
            </div >

            <div class="flex p-4 m-6 justify-center">
                <label for="password">
                    Пароль
                </label>
                <input id="password" name="password" type="text">
            </div>

            <div>
                <button type="submit">
              Войти
            </button>
            </div>

        </form>
    </div>
{% endblock %}