{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <div class="container">
        <section id="content">
            <form action="/auth/login" method="post">
                <h1>Авторизация</h1>
                <div>
                    <input type="text" placeholder="Почта" required="" id="username" name="email"/>
                </div>
                <div>
                    <input type="password" placeholder="Пароль" required="" id="password" name="password"/>
                </div>
                <div>
                    <input type="submit" value="Войти"/>
                    <a href="/auth/lost_password">Забыли пароль?</a>
                    <a href="/auth/register">Регистрация</a>
                </div>
            </form>

        </section>
    </div>
{% endblock %}