{% extends "base.html" %}

{% block content %}
    <div>
        <h1>{{ name }} {{ surname  }}</h1>
        <p>{{ login }}</p>
        <p>{{ email }}</p>
        <p>{{ about }}</p>
    </div>
    <div>
        <table>
            <caption>Мои тесты</caption>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Статус</th>
            </tr>
            <tr>
                {% for test in user_tests %}
                <th>{{test['name']}}</th>
                <th>{{test['about']}}</th>
                <th>{{test['created_date']}}</th>
                {% if test['is_hidden'] %}
                <th>Скрыт</th>
                {% else %}
                <th>Опубликован</th>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}