{% extends "base.html" %}

{% block content %}
    <link href="/static/css/profile.css" rel="stylesheet" type="text/css">
    <div>
        <h1>{{ name }} {{ surname }}</h1>
        <p>Логин: {{ login }}</p>
        <p>Почта: {{ email }}</p>
        <p>О вас: {{ about }}</p>
        <p></p>
    </div>
    <div>
        <table border="2" align="center">
        <caption align="top">Мои тесты</caption>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Ссылка на тест</th>
            </tr>

            {% for test in user_tests %}
                <tr>
                    <td>{{ test.test_name }}</td>
                    <td>{{ test.about }}</td>
                    <td>{{ test.created_date }}</td>
{#                    <td><button value="/testik/{{ test.id }}" class="btn btn-primary" type="submit">Тык))</button></td>#}
                    <td><a href="/testik/{{ test.id }}" class="btn btn-primary">Тык))</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}