{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <div class="container">
        <section id="content">
            <h1>Регистрация</h1>
            <form action="" method="post">
                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Имя" id="name" name="name" type="left">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Фамилия" id="surname" name="surname" type="right">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Логин" id="username" name="username" type="left">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Почта" id="email" name="email" type="right">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Пароль" id="password" name="hashed_password">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Расскажите о себе" id="about" name="about">
                </div>

                <div>
                    <input type="submit" value="Регистрация">
                    <input type="submit" formaction="/auth/login" value="Войти">
                </div>

            </form>
        </section>
    </div>
{% endblock %}