{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/reg.css"/>
    <div class="container">
        <section id="content">
            <form action="" method="post">
                <h1>Регистрация</h1>
                <div class="d-flex flex-row p-4 m-6 justify-center" id="about_user">
                    <input placeholder="Имя" id="name" name="name" type="text" required style="margin: 3px">
                    <input placeholder="Фамилия" id="surname" name="surname" type="text" required style="margin: 3px">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Логин" id="username" name="username" type="text" required>
                </div>

                <div class="flex p-4 m-6 justify-center" >
                    <input placeholder="Почта" id="email" name="email" type="email" required style="background: #eae7e7 url('/static/img/email-icon.png') no-repeat; background-position: 10px 10px !important">
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Пароль" id="password" name="hashed_password" type="password" required>
                </div>

                <div class="flex p-4 m-6 justify-center">
                    <input placeholder="Расскажите о себе" id="about" name="about" type="text">
                </div>

                <div>
                    <input type="submit" value="Регистрация">
                    <input type="submit" formaction="/auth/login" value="Войти">
                </div>

            </form>
        </section>
    </div>
{% endblock %}