{% extends "base.html" %}

{% block content %}
    {% if warning %}
        <p class="alert alert-warning">{{ warning }}</p>
    {% endif %}
    <h1>{{ test_name }}</h1>
    <img src="data:image/jpeg;base64,{{ img.__str__()[2:-1] }}" width="400" height="300">
    <h4>{{ about_test }}</h4>
    <p><a href="/user/profile/{{ author.id }}" style="color: black">Автор теста: {{ author.username }} <img
            src="data:image/jpeg;base64,{{ author.image.__str__()[2:-1] }}" height=20
            style="border-radius: 70%"></a><br>Тест создан: {{ date }}</p>
    <form action="/testik/show/{{ test_id }}" method="post">

        {% for key, value in questions_and_answers.items() %}
            <p>{{ key + 1 }}. {{ value['question'] }}
                {% for answer in value['answers'] %}
                    <br><input type="radio" class="answer" name="answer{{ key }}" value="{{ answer[0] }}">
                    {{ answer[0] }}
                {% endfor %}
                <br></p>
        {% endfor %}

        <button type="submit" class="btn btn-primary" style="background-color: #54acde; border-color: skyblue;">
            Готово!
        </button>
    </form>
{% endblock %}