{% extends "base.html" %}

{% block content %}
<form action="/obr" method="post">
    {% for question in range(n_questions) %}
    <p><input type="text" class="form-control" placeholder="Введите вопрсик" name="question{{ question }}">
        введите ответики и отметьте какой из них правильный:
        {% for answer in range(n_answers) %}
        <br><input type="text" class="answer" name="answer{{ question }}{{ answer }}">
        <input type="radio" name="raz{{ question }}" value="{{ question }}{{ answer }}"/>
        {% endfor %}
        {% endfor %}
        <br></p>
    <button type="submit" class="btn btn-primary">Записаться</button>
</form>
{% endblock %}